* {
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.calc-body{
    padding:2vw;
    background-color: #FFE8DF;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(222,168,248,1) 0%, rgba(168,222,248,1) 21.8%, rgba(189,250,205,1) 35.6%, rgba(243,250,189,1) 52.9%, rgba(250,227,189,1) 66.8%, rgba(248,172,172,1) 90%, rgba(254,211,252,1) 99.7% );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.answer-text {
    background-color: #FFE8DF;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    width:200px;
    padding: 4%;    
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.calc-nos { 
    height: 240px;
    width: 230px;
    padding: 30px;
    padding-bottom: 80px; 
    margin-top: 10px;
    /* background-color: #FFD8A9; */
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(222,168,248,1) 0%, rgba(168,222,248,1) 21.8%, rgba(189,250,205,1) 35.6%, rgba(243,250,189,1) 52.9%, rgba(250,227,189,1) 66.8%, rgba(248,172,172,1) 90%, rgba(254,211,252,1) 99.7% ); */
    background-color: #FFE8DF;
    display: grid;
    grid-template: 30px 30px 30px 30px 30px 30px/ 30px 30px 30px 30px;
    gap: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: center;*/
} 
.calc-btn {
    background-color: #F85F73;
    font-weight: 1000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}